<header>

</header>

<main>
  <section>
    <h1> Burgers to eat!</h1>
    <div id="table">
      <div id="on-table">
        <ol>
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/devour-button devoured=true}}
            {{/unless}}
          {{/each}}
        </ol>
      </div>
    </div>
  </section>

  <aside>
    <h2>Burgers eaten!</h2>
      <div id="eaten">
        <div id="eaten-burgers">
          <ol>
            {{#each burgers}}
              {{#if devoured}}
              <li>
                {{burger_name}}
                <button class="delete-button" data-id="{{id}}">Done with that!</button>
              </li>
              {{/if}}
            {{/each}}
          </ol>
        </div>
      </div>
  </aside>
</main>

<footer>
  <h3 id="add-burger">What burger would you like made?</h3>
  <form class="added-burgers">
    <div class="form-group">
      <label for="request">Request Burger:</label>
      <input type="text" id="burger" name="burger_name">
    </div>

    <button id="add-burger" type="submit">Make Burger</button>
  </form>
</footer>
{{!-- <h1>Burgers!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul> --}}

{{!-- <h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label form="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label form="eaten">Devoured!</label><br>
    <input type="radio" name="eaten" value="1" checked> devoured!<br>
    <input type="radio" name="eaten" value="0"> Fresh
  </div>

  <button type="submit">Add Burger</button>
</form> --}}
